<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./global/head') %>
    <%- include('./dash/head') %>
    
    <title>Hermes - Send demo SMS</title>
    <style>
        input[type="text"] {
            width: 100%;
            padding: 5px;
        }

        textarea {
            padding: 5px;
            height: 100px;
        }
    </style>
</head>
<body>
    <%- include('./dash/header') %>
    <%- include('./dash/sidenav') %>
<main>
    <%- include('global/errors') %>
    <div class="row">
        <div class="col s12">
            <p class="flow-text">Send demo SMS.</p>

            <form method="POST" action="/dash/send-sms" class="center-align">
                <div class="input-field ">
                    <input placeholder="From (can be anything, non numeric, max 11 chars)" 
                            name="from" type="text" class="browser-default" maxlength="11">
                    <!-- <label for="from">From (can be anything, non numeric, max 11 chars)</label> -->
                </div>
        
                <div class="input-field">
                    <input placeholder="To. Receipt phone number (in international format)" 
                            name="to" type="text" class="browser-default" maxlength="64">
                    <!-- <label for="to">To. Receipt phone number (in international format)</label> -->
                </div>
        
                <div class="input-field">
                    <textarea placeholder="Text message. GSM-7 encoded. Max 160 chars. Multines supported." 
                            name="text" class="browser-default" maxlength="160"></textarea>
                    <!-- <label for="text">Text message. GSM-7 encoded. Max 160 chars. Multines supported.</label> -->
                </div>

                <input type="submit" class="btn green darken-2  " value="Send">
            </form>
            
            <!-- <center><div class="btn green darken-2 waves-effect waves-light" onclick="sendMessage()">Send</div></center> -->
        </div>
    </div>

</main>
<%- include('./footer') %>

<script>
    <%- include('./global/util') %>

    const clearFields = function(){
        _('from').value = ''
        _('to').value = ''
        _('text').value = ''

        M.textareaAutoResize(_('text'))
    }

    const sendMessage = function(){
        toast("sending message...")

        let from = _('from').value
        let to = _('to').value
        let text = _('text').value

        axios.post('/api/send/<%- apiKey %>', {
            from, to, text
        })
        .then(res=>{
            toast("message sent!")
            clearFields()
        })
        .catch(e=>{
            let r = e.response

            if(r.status !== 500)
                r.data.errors.forEach(item=>toast(item.message ? item.message : item))
            else {
                toast("Internal error occurred. Try again later")
                console.log(r.data)
            }
        })
    }

</script>

</body>
</html>
