<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./global/head') %>
    <%- include('./dash/head') %>
    
    <title>Hermes - Add 2FA using Tofa</title>
</head>
<body>
    <%- include('./dash/header') %>
    <%- include('./dash/sidenav') %>
<main>
    <%- include('global/errors') %>
<div class="row">
<div class="col s12">
    <p class="flow-text">Add 2FA using Tofa</p>
    
    <form action="/dash/register-2fa" method="POST">

        <p>
            Hermes use Tofa as 2FA. You need to create an app in your Tofa Client
            and then register Hermes with it. 
            If you don't know how, please follow the tutorial on their 
            <a target="_blank" href="http://7o5hh2f6gdxusghkqphrgwhs3xjqogakmusscbs4ektjv42sqeft4iqd.onion/pub/tutorial.htm">official site</a>.
            After creating the app keep Tofa Client open and input the URI below:
        </p>

        <input type="text" 
            class="browser-default" 
            placeholder="Tofa App URI" 
            name="uri"
            style="width: 100%"
        >
        
        <br>
        <br>

        <button class="btn green waves-effect waves-light">Register</button>
      </form>
</div>
</div>
</main>
<%- include('./footer') %>

<script>
    <%- include('./global/util') %>
</script>

</body>
</html>
