<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./global/head') %>
    <%- include('./dash/head') %>
    
    <title>Hermes - Change account password</title>
</head>
<body>
    <%- include('./dash/header') %>
    <%- include('./dash/sidenav') %>
<main>
    <%- include('global/errors') %>
<div class="row">
<div class="col s12">
    <p class="flow-text">Change account password</p>
    
    <form action="/dash/change-password" method="POST">

        <div class="input-field ">
            <input placeholder="Current password" 
                name="old_password" 
                type="password" 
                class="validate"
                 maxlength="128" 
                 minlength="3"
                value="">
            <!-- <label for="old_password">Current password</label> -->
        </div>

        <div class="input-field">
            <input placeholder="New password"  
                name="new_password"
                type="password" 
                class="validate"
                maxlength="64" 
                minlength="5"
                value="">
            <!-- <label for="new_password">New password. Min 5 chars, max 64 chars.</label> -->
        </div>

        <button class="btn green darken-2 waves-effect waves-light"> Change</button>
    </form>

</div>
</div>
</main>
<%- include('./footer') %>

<script>
    <%- include('./global/util') %>
</script>

</body>
</html>
